
<section class="account-page">
	
	<p class="my-account">My Account</p>

	<hr>

	<div class="membership">

		<div class="option-size">
			<p class="account-option">MEMBERSHIP & BILLING</p>
			<button class="cancel-mem">Cancel Membership</button>
		</div>

		<div class="account-details">

			<div class="user-info">
				<div class="left-info">
					<div>
						<p>email@email.com</p>
						<p>password********</p>
					</div>
					<div class="right-info">
						<p>Change email</p>
						<p>Change password</p>
						<p>Add phone number</p>
					</div>
				</div>
				<hr>
			</div>

			<div class="user-info">
				<div class="left-info">
					<div>
						<p>VISA •••• •••• •••• 1234</p>						
					</div>
					<div class="right-info">
						<p>Update payment info</p>
						<p>Billing details</p>
					</div>
				</div>
				<hr>
			</div>

			<div class="user-info">
				<div class="left-info">
					<div>
						<p>Redeem gift card or promo code</p>
						<input class="input-field" placeholder="Enter code or pin"> <button class="redeem-btn">Redeem</button>						
					</div>
					<div class="right-info">
						<p>Where to buy gift cards</p>
					</div>
				</div>		
			</div>
		</div>
	</div>

	<hr> 

	<div class="membership">

		<div class="option-size">
			<p class="account-option">PLAN DETAILS</p>
		</div>

		<div class="account-details">

			<div class="user-info">
				<div class="left-info">
					<div>
						<p>2 Screens + HD</p>
					</div>
					<div class="right-info">
						<p>Change plan</p>
					</div>
				</div>
				<hr>
			</div>

			<div class="user-info">
				<div class="left-info">
					<div>
						<p>No DVD pla</p>						
					</div>
					<div class="right-info">
						<p>Add DVD plan</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<hr>


	<div class="membership">

		<div class="option-size">
			<p class="account-option">SETTINGS</p>
		</div>

		<div class="account-details">

			<div class="user-info">
				<div class="left-info">
					<div class="settings-info">
						<p>Communication settings</p>
						<p>Parental controls</p>
						<p>Test participation</p>
						<p>Activate a device</p>
						<p>Sign out of all devices</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<hr>

	<div class="membership">

		<div class="option-size">
			<p class="account-option">MY PROFILE</p>
		</div>

		<div class="account-details">

			<div class="user-info">
				<div class="left-info">
					<div class="settings-info">
						<p>Language</p>
						<p>Playback settings</p>
						<p>Subtitle appearance</p>
						<p>Order in My List</p>
					</div>
					<div class="right-info">
						<p>Manage profiles</p>
						<p>Viewing activity</p>
						<p>Ratings</p>
						<p>Rreview</p>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>

