
    <section class="movie-details">
        <div>

            <img class="movie-poster" ng-src="{{singleMovie.image}}">

            <youtube-video video-id="youTest">YouTube Video</youtube-video>

            <h2>{{singleMovie.id}}</h2>
            <h3>{{singleMovie.title}}</h3>

            <p>{{singleMovie.desc}}</p>
            <p>Year: {{singleMovie.year}}</p>
            <p>Director: {{singleMovie.director}}</p>
            <p>Budget: {{singleMovie.budget}}</p>
            <p>Genre: {{singleMovie.genres}}</p>
            <p>Review: <em>{{singleMovie.review}}</em></p>
            
        </div>
    </section>