
    <section class="movie-details">
        <div>
            <div class="video">
                <youtube-video video-url="youTest" player-width="'50%'" player-height="'550px'"></youtube-video>
            </div>

            <div class="video-info">
                <div class="single-poster">
                    <img class="movie-poster" ng-src="{{singleMovie.image}}">
                </div>
                <div class="movie-info">
                    <h1><strong>{{singleMovie.title}}</strong></h1>
                    <br>
                    <p>{{singleMovie.desc}}</p>
                    <br>
                    <p><strong>YEAR:</strong> {{singleMovie.year}}</p>
                    <p><strong>DIRECTOR:</strong> {{singleMovie.director}}</p>
                    <p><strong>BUDGET:</strong> {{singleMovie.budget}}</p>
                    <p><strong>GENRE:</strong> {{singleMovie.genres}}</p>
                    <br>
                    <p><strong>REVIEW:</strong> <em>{{singleMovie.review}}</em></p>
                </div>
            </div>    
        </div>
    </section>