
<section class="dvd-page">

	<h1>Complete Your Netflix Experience with DVDs</h1>
	<br>
	<h4>Over 93,000 Movies, Premium TV Shows, and New Releases to your Mailbox</h4>

	<div class="table-poster">

		<div class="table">
			<table>
				<tbody>
					<th></th>
					<th class="btn">Starter</th>
					<th class="btn2">Standard</th>
					<th class="btn">Premier</th>

				<tr>
					<td class="td-text">Price after free trial</td>
					<td>$4.99</td>
					<td>$7.99</td>
					<td>$11.99</td>
				</tr>

				<tr>
				<td class="td-text">Discs out-at-a-time</td>
					<td>1 <img src="./img/site/dvd.png"></td>
					<td>1 <img src="./img/site/dvd-blue.png"></td>
					<td>2 <img src="./img/site/dvd-2.png"></td>
				</tr>

				<tr>
				<td class="td-text">Discs per month</td>
					<td>2</td>
					<td>unlimited</td>
					<td>unlimited</td>
				</tr>

				<tr>
				<td class="td-text">No late fees</td>
					<td><i class="fa fa-check"></i></td>
					<td><i class="fa fa-check"></i></td>
					<td><i class="fa fa-check"></i></td>
				</tr>

				<tr>
				<td class="td-text">Free 2-day shipping and returns*</td>
					<td><i class="fa fa-check"></i></td>
					<td><i class="fa fa-check"></i></td>
					<td><i class="fa fa-check"></i></td>
				</tr>

				<tr>
					<td class="td-text">First month free</td>
					<td><i class="fa fa-check"></i></td>
					<td><i class="fa fa-check"></i></td>
					<td><i class="fa fa-check"></i></td>
				</tr>

				<tr>
					<td class="td-text">Cancel anytime</td>
					<td><i class="fa fa-check"></i></td>
					<td><i class="fa fa-check"></i></td>
					<td><i class="fa fa-check"></i></td>
				</tr>
				</tbody>
			</table>
		</div>


		<div class="small-poster">
			<p>Popular DVDs</p>
			<div class="four-poster">
				<div>
					<img src="./img/site/passengers.jpg">
					<img src="./img/site/docter.jpg">
				</div>

				<div>
					<img src="./img/site/day.jpg">
					<img src="./img/site/fence.jpg">
				</div>
			</div>
		</div>

	</div>

	<div class="disc-format">
		<h3>Dis format</h3>
		<input type="radio" name="standard" checked>Standard Defination<br>
		<input type="radio" name="high-def">High Definition Blu-ray, up to 1080p<br>		
	</div>

	<div class="get-started">
		<div class="start-btn">
			<button><h1>Get Started</h1></button>
		</div>
		<div class="free-trial">
			<p>Your DVD free trial ends on 1/1/2050</p>
		</div>
	</div>

	<div class="faq">
		<div class="left-quest">
			<div>
				<h4>HOW LONG WILL IT TAKE TO RECEIVE MY DISCS?</h4>
				<p>95% of our customers receive their discs in two business days or less! Depending on your location, expect shipping times of one to three business days.</p>
			</div>

			<div>
				<h4>I HAVE A STREAMING PLAN – DO I ALSO GET DVDS?</h4>
				<p>The DVD and streaming plans are independent of each other and are billed separately. Signing up for one does not automatically register you for the other plan.</p>
			</div>

			<div>
				<h4>HOW DOES BILLING WORK?</h4>
				<p>You'll be billed on the same calendar day as your sign-up – e.g., if you join on the 17th, you'll be billed on every 17th. For skipping dates, we bill on a similar date – e.g., January 31st sign-ups will be billed February 28th.</p>
			</div>
		</div>

		<div class="right-quest">
			<div>
				<h4>HOW DO I RETURN DISCS?</h4>
				<p>After you finish enjoying a movie, put it back in the white disc sleeve and into the provided red prepaid envelope. Stick it in your mailbox. As soon as we know you are returning a disc, we will ship out another from your Queue the next business day.</p>
			</div>

			<div>
				<h4>DOES CANCELLING STREAMING CANCEL MY DVD PLAN?</h4>
				<p>Nope! The DVD and streaming plans are independent of each other. If you cancel one plan, you can still enjoy your other plan with no worries.</p>
			</div>

			<div>
				<h4>HOW DOES THE FREE TRIAL WORK?</h4>
				<p>Sign up for the DVD service and enjoy a free month of new releases and premium TV shows, all delivered to your home! You won't be charged until your second month begins. If you cancel during the first month, you won't be billed.</p>
			</div>

		</div>	

	</div>
</section>

<hr>