
<footer class="footer">

	<div>
		<i class="fa fa-facebook-official fa-2x"></i>
		<i class="fa fa-instagram fa-2x"></i>
		<i class="fa fa-twitter fa-2x"></i>
		<i class="fa fa-youtube-play fa-2x"></i>
	</div>

	<div class="links">
		<div>
			<li>Audio Description</li>
			<li>Investor Relations</li>
			<li>Cookie Prefrences</li>
		</div>

		<div>
			<li>Help Center</li>
			<li>Jobs</li>
		</div>

		<div>
			<li>Gift Cards</li>
			<li>Terms of use</li>
		</div>

		<div>
			<li>Media Center</li>
			<li>Privacy</li>
		</div>
	</div>

	<button class="service-code">Service Code</button>

	<p class="copyright">© 1997-2017 Netflix, Inc.</p>

</footer>