
<header class="nav-bar">

  <div class="nav-content">

    <section class="left-menu">
      <nav class="nav-test">

          <div>
            <li><a ui-sref="home"><img src="./img/site/devflix.png" alt="devflix"></a></li>
          </div>

          <div class="dropdown">
            <a class="browse dropbtn">Browse<i class="fa fa-sort-desc"></i></a>
              <div class="dropdown-content">
                <a href="#">Action</a>
                <a href="#">Adventure</a>
                <a href="#">Comedy</a>
                <a href="#">Drama</a>
                <a href="#">Romance</a>
                <a href="#">Scifi</a>
                <a href="#">Thriller</a>
              </div>
          </div>            

          <div>
            <li><a ui-sref="dvd">DVD</a></li>
          </div>

      </nav>
    </section>

    <section class="right-menu">
      <nav class="menu-image">
          <li><i class="fa fa-search"></i></li>
          <li><a>Search</a></li>
          <li><i class="fa fa-bell"></i></li>
          <li class="dropdown"><img class="dropbtn" src="../img/site/account.png">
            <div class="dropdown-content">
                <a href="#">Manage Profiles</a>
                <a><hr></a>
                <a ui-sref="account">Your Account</a>
                <a href="#">Help Center</a>
                <a href="#">Sign out of Netflix</a>
              </div>
          </li>
          <li><a class="acct-name" ui-sref="account">Wang</a><i class="fa fa-sort-desc"></i></li>

      </nav>
    </section>

  </div>

</header>