
    <div class="cover">
        <!-- <img src="./img/site/allen.jpg"> -->
    </div>

    <section class="main-content">

        <!-- <div ng-repeat="movie in movies">
            <img class="movie-poster" ng-src="{{movie.image}}" ui-sref="details({id: movie.id})">
        </div> -->

        <div class="first">
        	<div ng-repeat="first in firstList">
            <img class="movie-poster" ng-src="{{first.image}}" ui-sref="details({id: first.id})">
          </div>
        </div>

        <div class="second">
        	<div ng-repeat="second in secondList">
            <img class="movie-poster" ng-src="{{second.image}}" ui-sref="details({id: second.id})">
          </div>
        </div>

        <div class="third">
        	<div ng-repeat="thrid in thirdList">
            <img class="movie-poster" ng-src="{{third.image}}" ui-sref="details({id: third.id})">
          </div>
        </div>

        <div class="fourth">
        	<div ng-repeat="fourth in fourthList">
            <img class="movie-poster" ng-src="{{fourth.image}}" ui-sref="details({id: fourth.id})">
          </div>
        </div>

        <div class="last">
        	<div ng-repeat="last in lastList">
            <img class="movie-poster" ng-src="{{last.image}}" ui-sref="details({id: last.id})">
          </div>
        </div>

    </section>
