.nav-bar {
	position: fixed;
	z-index: 10;
	height: 72px;
	width: 100%;
}

.nav-content {
	background: #000;
	background: rgba(0,0,0,.6);
	display: flex;
	justify-content: space-between;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; 
}

.nav-content a, li {
	text-decoration: none;
}

.nav-test {
	display: flex;
	align-items: center;
}

.left-menu {
	padding-left: 60px;
	padding-top: 25px;
}

.left-menu div, li {
	list-style-type: none;
  vertical-align: middle;
	text-decoration: none;
}

.left-menu div {
	padding-right: 35px;
}

.dropdown-content  {
  display: none;
  background-color: #000;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  font-family: Arial;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-flow: column;
  position: absolute;
  background: rgba(0,0,0,.6);  
}

.right-menu {
	padding: 20px;
	display: table;
	display: inline-block;
	padding-right: 60px;
}

.menu-image li {
	display: table-cell;
  vertical-align: middle;
}

.fa-bell {
	padding-right: 35px;
	padding-left: 35px;
	font-size: 1.5em;
}

.acct-name {
	padding-left: 10px;
}

.fa-sort-desc {
	padding-left: 10px;
}

.fa-search {
	padding-right: 10px;
}

.browse {
	color: #E50914;
}

.disc-format {
	padding-top: 50px;
	color: #fff;
}

.disc-format h3, input {
	margin-top: 15px;
}
