
.cover {
	background: url('../../img/site/allen.jpg') no-repeat;
	background-size: cover;
	height: 100vh;
}

.main-content {
	display: flex;
	flex-wrap: wrap;
	/*justify-content: space-around;*/
	flex-flow: row;
}

.movie-poster {
	padding: 10px;
	width: 300px;
	height: auto;
}