
.cover {
	background: url('../../img/site/allen.jpg') no-repeat;
	background-size: cover;
	height: 100vh;
	margin-bottom: 10px;
}

/*.main-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	flex-flow: row;
}*/

.first, 
.second, 
.third, 
.fourth, 
.last {
	display: flex;
	flex-flow: row;
	overflow-x: scroll;
}

.movie-poster {
	padding: 5px;
	width: 250px;
	height: auto;
}

